<a href="https://colab.research.google.com/github/SamanthaJaron/OOP58001/blob/main/Functions%2C_List%2C_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [9]:
class shapes:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width
rectangle = shapes(10,5)
rectangle.width
rectangle.area()
#rectangle

50

In [17]:
class shapes:
  def __init__(self, side):
    self.side = side
  def arearec(self):
    return self.length * self.width
  def areasqr(self):
    return self.side ** 2
square = shapes(5)
square.areasqr()
#square

25

In [6]:
pow(10,2)
array = ["apple" , "banana" , "orange"]
array.insert(0, "cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

In [26]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def sam(self):
   return "My name is " + self.name + " and my age is " + self.age + " years old."

SM = Person("Carla Samantha N. Jaron" , "19")
SM.sam()

'My name is Carla Samantha N. Jaron and my age is 19 years old.'

List

In [29]:
pi = 3.14159
varlist = ['abc' , 1 , 'def' , 2]
print(varlist[0])

varlist.append('ghi')
print(varlist)
varlist.remove(2)
print(varlist)
varlist.insert(3,3)
print(varlist)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [32]:
students = {
    1: "Sam" ,
    2: "Jerril" ,
    3: "Kean" ,
    4: "Enzo" ,
    5: "Jade"
}
print(students)

{1: 'Sam', 2: 'Jerril', 3: 'Kean', 4: 'Enzo', 5: 'Jade'}