<a href="https://colab.research.google.com/github/SamanthaJaron/OOP58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indention

In [5]:
if 5<2:
  print("Five is greater than two.")

Python Comment

In [6]:
#This is a commnent
print("Hello World")

Hello World

Python Variable Name

In [9]:
person_a = "Sam"
print (person_a)

Sam

Python Variable

In [11]:
#Single variable with multiple values
array = [1,2,3]
print (array)

#Multiple variable with single value
a= b= c= "Sam"
print (a)
print (b)
print (c)

[1, 2, 3]
Sam
Sam
Sam

Casting

In [12]:
n = int(4)
print (n)

4

Type() Function

In [14]:
c = "Sam"
d = 5.6
print (type(c))
print (type(d))

<class 'str'>
<class 'float'>