<a href="https://colab.research.google.com/github/SamanthaJaron/OOP58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indention

In [5]:
if 5<2:
  print("Five is greater than two.")

Python Comment

In [6]:
#This is a commnent
print("Hello World")

Hello World

Python Variable Name

In [9]:
person_a = "Sam"
print (person_a)

Sam

Python Variable

In [11]:
#Single variable with multiple values
array = [1,2,3]
print (array)

#Multiple variable with single value
a= b= c= "Sam"
print (a)
print (b)
print (c)

[1, 2, 3]
Sam
Sam
Sam

Casting

In [12]:
n = int(4)
print (n)

4

Type() Function

In [14]:
c = "Sam"
d = 5.6
print (type(c))
print (type(d))

<class 'str'>
<class 'float'>

"Double quotes" or 'Single' quotes

In [19]:
y = "Sam"
y = 'Sam'

Case Sensitive

In [18]:
a = 4
A = "Sam"
#A will not ovewrite a

Multiple Variables

In [20]:
x, y, z = "one" , "two" , "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [22]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [29]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

In [31]:
x = "Phyton is "
y = "enjoying"
z = x + y
print (z)

Phyton is enjoying

Arithmetic Operations

In [32]:
x = 5
y = 3
print (x+y)

8

In [33]:
x = 5
y = 3
sum = x+y
sum

8

Assignment Operators

In [38]:
a, b, c = 0, -1, 6
c%=3
c

0

Logical Operators

In [37]:
from ctypes import BigEndianStructure
a, b, c = 0, -1, 6
a>b and c>b
True

True

Identity Operators

In [39]:
a, b, c = 0, -1, 5
a is c
False

False